@media screen and (max-width: 1200px){
    .SearchMain .input-container input{
        padding: .4em 0;
        font-size: 0.95em;
    }
    .SearchMain .input-container .img-inp.search,
    .SearchMain .input-container .img-inp.close{
        top: .5em;
        width: 18px;
    }
    .SearchMain .input-container .img-inp.close{
        width: 25px;
        top: .3em;
        right: 1.2em;
    }
}