.SearchMain{
    padding: 1em 0 1em;
}

.SearchMain .input-container{
    width: 100%;
    position: relative;
}
.SearchMain .input-container input{
    width: inherit;
    padding: .6em 0;
    font-size: 1.15em;
    color: var(--search-text);
    background: none;
    border: none;
    border-bottom: 1px solid var(--search-bot);
    transition: .3s;
}
.SearchMain .input-container input:hover,
.SearchMain .input-container input:focus{
    border-bottom: 1px solid var(--search-text);
}

.SearchMain .input-container .img-inp.search,
.SearchMain .input-container .img-inp.close{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: .8em;
    transition: .3s;
}
.SearchMain .input-container .img-inp.close{
    width: 30px;
    top: .6em;
    right: 1.8em;
}
.SearchMain .input-container .img-inp.search:hover,
.SearchMain .input-container .img-inp.close:hover{
    opacity: .6;
}