@media screen and (max-width: 1200px) {
    .MainData .block{
        min-height: 120px;
        padding: 1.2em 1.2em !important;
    }
}
@media screen and (max-width: 800px) {
    .MainData .block{
        padding: 1em 1em !important;
        min-height: 110px;
    }
    .MainData .block img{
        width: 16px;
    }
}
@media screen and (max-width: 550px) {
    .MainData{flex-wrap: wrap;}
    .MainData .block{
        width: 100%;
        margin-bottom: .5em;
    }
    .MainData .block{min-height: 100px;}
}