nav.navbar-expand.NavbarTop{
    color: var(--white);
    padding: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* block with logo */
.NavbarTop .logo{
    display: flex;
    align-items: flex-start;
}
.NavbarTop .logo span{
    margin-left: 1em;
    padding-top: .5em;
}
.NavbarTop .logo span h5{
    width: 100%;
    margin: 0;
    font-weight: 400;
}
.NavbarTop .logo span div{
    display: inline-block;
    margin: .2em 0 0 50%;
    font-size: .85em;
    font-weight: 300;
    border-radius: 1em 0;
    padding: .1em 1em;
    background: var(--nav-expl);
}

/* button */
.NavbarTop button.connect{
    font-size: .9em;
    display: flex;
    align-items: center;
    background: var(--nav-but-blue);
    padding: .4em 1.5em;
    border-radius: .4em;
    transition: .3s;
    border: none;
}
.NavbarTop button.connect.success{
    background: var(--green-04c);
}
.NavbarTop button.connect span{
    margin-right: 8px;
}
.NavbarTop button.connect img{
    margin-right: .5em;
}
.NavbarTop button.connect:hover{
    background: var(--nav-but-blue-hov);
}
.NavbarTop button.connect.success:hover{
    background: var(--lite-green);
}

.bridgeLink{
    margin-right: 10px;
    padding: .4em 1.5em;
    font-size: .9em;
    background: var(--search-bot);
    color: var(--white);
    text-decoration: none;
    border-radius: .4em;
    transition: .3s;
}
.bridgeLink:hover{
    color: var(--white);
    background: var(--api-h5);
}