@media screen and (max-width: 800px){
    .ModalLogin{
        right: 1em;
        top: 4.2em;
        width: 19em;
    }
    .ModalLogin .content{
        width: 100%;
        height: calc(100% - 4em - 12px);
        padding: .8em 1em 1em;
    }

}
@media screen and (max-width: 500px){
    .ModalLogin{
        width: 18em;
    }
    .circle-text .circle{
        width: 1.2em;
        height: 1.2em;
        padding: 1.1em;
        font-size: .85em;
    }
}