.modal-content{
    background-color: var(--dark);
}
.modal-content ::-webkit-scrollbar {
    background: var(--trans-but-gradient-op);
    height: 1px;
}

/*close button*/
.btn-close{
    background-image: url("/public/images/general/x.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1 !important;
}

/*modal header*/
.modal-header{
    display: flex;
    align-items: center;
    padding: 2.5em 2em;
    color: var(--white);
    border-bottom: none;
}
.modal-header h4{
    margin: 0;
}
.modal-header .success{
    margin-left: 2em;
    padding: .4em 1em;
    background: #23232C;
    color: var(--green-04c);
    display: flex;
    align-items: center;
}
.modal-header .success h5{
    margin: 0 0 0 .5em;
    font-weight: 300;
}

/*body*/
.modal-body{
    padding: .5em 2em 2em;
    color: #626273;
}
.modal-body .block{
    padding: 1em 0;
    border-bottom: 1px solid #292A37;
}
.modal-body .block:last-child{
    border-bottom: none;
}
.modal-body .inner{
    display: flex;
    justify-content: space-between;
}
.modal-body .inner p.left{
    margin: .4em 0;
    width: 30%;
}
.modal-body .inner p.right{
    overflow-y: hidden;
    margin: .4em 0;
    color: var(--white);
    width: 65%;
}

/*modal media*/
@media screen and (max-width: 800px){
    .modal-header{
        padding: 1.5em 1em;
    }
    .modal-header .success{
        margin-left: 1em;
        padding: .4em .5em;
    }
    .modal-body{
        padding: .5em 1em 1em;
    }
}