@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    outline: none;
    text-decoration: none;
    color: inherit;
    /*transition: .2s;*/
}

:root{
    --mod-lg-but-big:#47495C;
    --mod-log-p-sm:#B7BDCF;
    --search-foc:#1B1C2E;
    --white:#FFF;
    --white-op5: rgba(255, 255, 255, 0.5);
    --white-op25: rgba(255, 255, 255, 0.25);
    --white-op1: rgba(255, 255, 255, 0.1);
    --nav-but-blue:#0084F9;
    --nav-but-blue-hov: #279aff;
    --bg-main:#181928;
    --dark:#151520;
    --nav-expl:#1F2031;
    --op: rgba(0, 0, 0, 0.2);
    --search-bot:#494962;
    --search-text:#AEAECA;
    --api-h5:#565875;
    --api-h5-strong:#9496AB;
    --lite-green:#22E790;
    --green-04c:#04CA73;
    --binance-but:#F3BA2F;
    --red: #9a2929;
    --next-but:#47495C;
    --trans-but-dark:#1F1F2D;
    --circle-modal-grad:linear-gradient(5.67deg, #2A706B -5.62%, #16637A 99.74%);
    --trans-but-gradient:linear-gradient(83.32deg, #2A706B 10.37%, #16637A 107.46%);
    --trans-but-gradient-op:linear-gradient(83.32deg, rgba(42, 112, 107, 0.5) 10.37%, rgba(22, 99, 122, 0.5) 107.46%);
}

body{
    background-image: url("/public/images/general/bg-main.svg");
    background-size: 100%;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: var(--bg-main) !important;
    min-height: 100vh;
}
/*media for main background image*/
@media screen and (max-width: 1000px){
    body{background-size: 150%;}
}
@media screen and (max-width: 600px){
    body{background-size: 250%;}
    .alert-success{font-size: 10px !important;}
}

*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
*::-webkit-scrollbar-track {
    background: none;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--white-op25);
    border-radius: 1em;
    border: none;
}

/* --------------- containers --------------- */
.container{
    width: 80%;
    margin: auto;
}
.container-small{
    width: 55%;
    margin: auto;
    /*background: rgba(255, 255, 255, 0.1);*/
}
@media screen and (max-width: 1450px){
    .container-small{width: 75%;}
    .container{width: 95%;}
}
@media screen and (max-width: 1000px){
    .container{min-width: 95%;}
    .container-small{min-width: 95%;}
}

/* --------------- media text --------------- */
@media screen and (max-width: 1200px){
    button,p,a{font-size: .85rem !important;}
    h6{font-size: .95rem !important;}
    h5{font-size: 1.1rem !important;}
    h4{font-size: 1.2rem !important;}
}

@media screen and (max-width: 800px){
    button,p,a,h6{font-size: .75rem !important;}
    h5{font-size: .8rem !important;}
    h4{font-size: 1rem !important;}
}