.FirstPage{
    width: 100%;
    height: 100%;
}

.info{
    cursor: pointer;
    padding: 3px;
    margin: -10px 0 0 .7em;
    transition: .2s;
}
.info:hover{
    opacity: .5;
    transform: rotate(180deg);
}