.Transactions{
    margin-bottom: 3em;
    background: var(--dark);
    border-radius: .5em;
    transition: .3s;
}

/*header*/
.Transactions header{
    display: flex;
    color: var(--api-h5);
    padding: 2em;
    border-bottom: 1px solid #292A3A;
}
.Transactions header h6{
    cursor: pointer;
    margin: 0 2em 0 0;
    transition: .2s;
}
.Transactions header h6.act{
    color: var(--white);
}

/*content*/
.Transactions .content{
    max-height: 40vh;
    overflow-y: scroll;
    padding: .5em 2em 1em;
    transition: .3s;
}
.Transactions .content.show{
    height: auto;
    max-height: none;
}

/*scrollbar*/
.Transactions .content::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.Transactions .content::-webkit-scrollbar-track {
    background: none;
}
.Transactions .content::-webkit-scrollbar-thumb {
    background-color: #318FA8;
    border-radius: 1em;
    border: none;
}

/* --- content item --- */
.TransactionItem{
    min-width: 600px;
    padding: 1em 0 .5em;
    border-bottom: 1px solid #292A3A;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    transition: .3s;
}
.TransactionItem:hover{
    opacity: .6;
}
/*text*/
.TransactionItem span{
    width: 40%;
}
.TransactionItem span p{
    margin: .4em 0;
    font-size: .8em;
    color: var(--white);
}
.TransactionItem span p.date,
.TransactionItem span p span{
    color: #626273;
}
/*button*/
.TransactionItem div.button-container{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}
.TransactionItem button{
    padding: .4em .8em;
    font-size: .9em;
    border: none;
    background: var(--trans-but-gradient);
    color: var(--white);
    border-bottom-left-radius: .75em;
    border-top-right-radius: .75em;
}

/* --- content item more --- */

/*header table*/
.header-show-table{
    min-width: 1200px;
    padding: 1em 0 .5em;
    display: flex;
    justify-content: space-between;
}
.header-show-table p{
    width: 10%;
    color: var(--white-op5);
    margin: 0;
    font-weight: 300;
}

/*body table*/
.TransactionItem.more{
    min-width: 1200px;
}
.TransactionItem.more span.adress,
.TransactionItem.more span.date,
.TransactionItem.more span.status,
.TransactionItem.more span.block,
.TransactionItem.more div.from-to,
.TransactionItem.more span.adk,
.TransactionItem.more span.adkCost,
.TransactionItem.more span.cont-creat{
    width: 10%;
    overflow: hidden;
}
.TransactionItem.more span.gas,
.header-show-table p.gas{
    width: 12%;
}

/*footer*/
.Transactions footer{
    padding: .5em 2em 2em 2em;
}
.Transactions footer button{
    width: 100%;
    padding: .75em 0;
    font-size: .85em;
    background: var(--trans-but-dark);
    border: none;
    border-radius: .3em;
    color: var(--white);
    transition: .3s;
}
.Transactions footer button:hover{
    background: var(--api-h5);
}