.SecondPage .table-buttons{
    padding: 2em 0 .5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.SecondPage .table-buttons .column{
    width: calc(50% - .5em);
    display: flex;
    flex-wrap: wrap;
}
/*table text*/
.SecondPage .table-buttons header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SecondPage .table-buttons header p{
    width: calc(50% - .5em);
    text-align: center;
    color: var(--white);
}

.SecondPage .table-buttons .column button{
    width: 100%;
    margin: .3em 0;
    padding: .6em 0;
    color: var(--white);
    font-size: .85em;
    border: none;
    background: var(--green-04c);
    border-radius: .2em;
}
.SecondPage .table-buttons .column.bin button{
    background: var(--binance-but);
}