.PaginateItemMore{
    display: flex;
    justify-content: flex-end;
    padding: 0 2em 1em 2em;
}


.PaginateItemMore .pagination .page-link{
    outline: none;
    background-color: rgba(0, 0, 0, 0) ;
    border: none;
    color: var(--white-op5);
    font-size: .8em;
}
.PaginateItemMore .pagination .page-item.active .page-link,
.PaginateItemMore .pagination .page-link:hover{
    color: var(--white);
}