.FormPage{
    color: var(--white);
    padding: 1em 0;
    overflow-x: hidden;
}

.FormPage p.small{
    font-size: .8em;
    font-weight: 300;
}
.FormPage p.small-small{
    font-size: .7em;
    font-weight: 300;
}

.FormPage input,
.FormPage select{
    border-radius: .2em;
}

.TransferBalance p.small-small{
    opacity: .75;
}