.ThirdPage header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*header with text and refresh button*/
.ThirdPage header span p{
    margin: 0;
}
.ThirdPage header span p.small{
    text-align: center;
    margin: 0;
    color: var(--mod-log-p-sm);
}
.ThirdPage header span p.net{
    font-weight: 500;
}
.ThirdPage header span p.net.adk{
    color: var(--green-04c);
}
.ThirdPage header span p.net.bin{
    color: var(--binance-but);
}

/*button refresh*/
.ThirdPage header img.refresh{
    cursor: pointer;
    transition: .3s;
}
.ThirdPage header img.refresh:hover{
    transform: rotate(180deg);
}